.gitignore

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Custom
repo/
index/
index_test/
release/
*.pyc
*.tar.gz
*.log
*.log.*

lib/
logs/
searchcode.sqlite
searchcode.properties