.gitignore

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Custom
repo/
index/
index_test/
release/
*.pyc
*.tar.gz
*.log
*.log.*
assets/sales/output

lib/
logs/
trash/
searchcode.sqlite
searchcode.properties
assets/integration_test/gitload/*.php
assets/integration_test/fileload/*.py
assets/integration_test/fileupdatetest/*.java
assets/integration_test/gitupdate/*.cpp

assets/documentation/_build
e2e_test/
