# searchcode config
database=sqlite
sqlite_file=searchcode.sqlite
server_port=8080
repository_location=./repo/
index_location=./index/
facets_location=./index/facet/
timeindex_location=./index/time/
timeindex_facets_location=./index/time/facet/
check_repo_chages=600
check_filerepo_chages=3600
only_localhost=false
low_memory=false
log_level=SEVERE
log_path=./logs
spelling_corrector_size=10000
max_document_queue_size=1000
max_document_queue_line_size=100000
max_file_line_depth=10000
use_system_git=false
git_binary_path=/usr/bin/git
api_enabled=false
api_key_authentication=true
svn_enabled=false
svn_binary_path=/usr/bin/svn
owasp_database_location=./include/owasp/database.json
highlight_lines_limit=5000
binary_guess=true
binary_extension_white_list=
binary_extension_black_list=jar,pdb,dll,jpg,jpeg,png,gif,bmp,psd,tif,tiff,xls,xlsx,pdb,pdf,apk,com,exe,7z,rar,gz,zip,zipx,rpm,bin,dmg,iso,vcd,mp3,flac,wma,wav,mid,m4a,3gp,flv,mov,mp4,mpg,rm,wmv,avi,m4v
# The below will probably be moved into the settings page at some point in the
# future.
password=Adm1n234
